body {
    background-color: #f4f4f4;
    
}
.main-body{
    padding: 5% 5%;
    }
/* Navigation Bar */
.navbar-custom {
    background-color: #FFFFFF;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid darkgrey;
}

.navbar-brand{
    background-color: #4cbbb9;
    padding: 20px;
    font-size: 25px;
    font-family: sans-serif;
    
}

.nav-item {
    padding: 10px 10px;
    border-left: 1px solid #D3D3D3;
    line-height: 0.1;
       }

.nav-item:first-child{
    border-left: none;
}

.navbar-light .navbar-brand {
    color: #FFFFFF;
}

.navbar-light .navbar-brand:hover {
    color: #FFFFFF;
}


.nav-bar-container {
    padding-right: 0px;
    padding-left: 0px;
}

/* Main Content Cards */
.card {
    margin-top: 25px;
    margin-left: 25px;

}

.card-title {
    color: #4cbbb9;
    font-size: 25px;
    
}

/* About Me Page Image */
.about-me-image {
    margin-bottom: 10px;
}


/* Connect with Me Icons */
.fa-linkedin {
    color: #0e76a8;
}

.fa-github-square{
    color: black;
}

.fa-at {
    color: #D44638;
}

.fab{
    padding: 3%;
}


/* Contact Page  */
label {
    margin-top: 2%;
}
button {
    margin-top: 2%;
    
}

.btn-info{
    background-color: #4cbbb9;
}

.form-group{
    width: 80%;
}

/* Footer */
#footer {
     color: #FFFFFF;
    text-align: center;
    background-color: #5f6769;
    border-top: 5px solid #4cbbb9;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
} 

.copyright {
    margin-bottom: 0px;
    padding: 10px;
    
}

.portfolio-container{
    border: 1px ridge darkgrey;
    width: 80%;
    padding: 3%;
    background-color: #FFFFFF;
}

.portfolio {
    width: 350px;
    height: 350px;
}

h2 {
    background-color: #4cbbb9;
    color: white;
    position: absolute;
    bottom: 40px;
    position: inline;
    font-family: sans-serif;
    width: 75%;
    text-align: center;
    
    
}

.portfolio-image {
    position: relative;
    
}

h5 {
    color: #4cbbb9;
    font-size: 24px;
    
}

