body {
    background-color: #f4f4f4;
    
}

h1 {
    color: red;
}


.navbar-custom {
    background-color: #FFFFFF;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid darkgrey;
}

.navbar-brand{
    background-color: #4cbbb9;
    padding: 20px;
    font-size: 25px;
    font-family: serif;
}

.navbar-light .navbar-brand{
    color: #FFFFFF;
}

.nav-item {
    padding: 0 10px;
    border-left: 1px solid #D3D3D3;
    line-height: 0.1;
       }

.nav-item:first-child{
    border-left: none;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    background-color: #5f6769;
    border-top: 5px solid #4cbbb9;
    font-size: 10px;
}

.copyright {
    margin-bottom: 0px;
    padding: 10px;
    
}

.card {
    margin-top: 25px;
    margin-left: 25px;

}

.card-title {
    color: #4cbbb9;
    font-size: 25px;
    
}

img {
    margin-bottom: 10px;
}